:root {
  --veryDarkGray: hsl(0, 0%, 17%);
  --DarkGray: hsl(0, 0%, 59%);
}
* {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
section {
  height: 100dvb;
  position: relative;
}
.background {
  background-image: url(./assets/pattern-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 36%;
  top: 0;
}
section h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.form-holder {
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 0px;
}
form {
  text-align: center;
}
form input {
  max-width: 270px;
  width: 100%;
  height: 60px;
  border-radius: 15px 0 0 15px;
  border: none;
  padding-left: 20px;
  font-size: 18px;
  color: var(--veryDarkGray);
  outline: none;
  margin-bottom: 25px;
}
form button {
  max-width: 60px;
  width: 100%;
  height: 60px;
  border-radius: 0 15px 15px 0;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  
}
form button:hover {
  background-color: var(--DarkGray);
}

form article {
  text-align: center;
  line-height: 5px;
  max-width: 320px;
  margin: auto;
  max-height: 300px;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
}
form article h2 {
  color: var(--DarkGray);
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 15px;
}
form article h1 {
  color: var(--veryDarkGray);
  font-size: 23px;
  font-weight: 500;
}
.map {
  height: 64%;
}

/*media query for desktop*/
@media screen and (min-width: 768px) {
  section h1 {
    font-size: 35px;

    padding-top: 30px;
    padding-bottom: 30px;
  }
  .background {
    background-image: url("./assets/pattern-bg-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  form input {
    max-width: 500px;

    padding-left: 50px;
    font-size: 20px;
    color: var(--veryDarkGray);
    outline: none;
    margin-bottom: 25px;
  }
}
